<figure class='yt'>
    <a class='yt.player' href='https://www.youtube-nocookie.com/watch?v=103TnMt_49g' style='background: url(https://img.youtube.com/vi/103TnMt_49g/hqdefault.jpg) 50% 50% no-repeat rgb(0, 0, 0);'>&nbsp;</a>
    <div class='yt-playBtn d-flex justify-content-center' id='yt-playBtn' data-youtube-id='103TnMt_49g'>
        <i class="fab fa-youtube fa-4x play-stack" id="play-stack"></i>
        <div id="datenschutz-hinweis">
            Mit Klick auf den Play-Button erklärst du dich damit einverstanden, dass Daten an Youtube übermittelt werden.
        </div>
    </div>&nbsp;
</figure>



