<div class="container" id="socialFeed">
  <div class="row no-gutters">
    <div class="col-xs-12 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h6>Vorstellungsvideo der PHD
          <a class="feed-header" target="blank" href="https://www.youtube.com/watch?v=103TnMt_49g"><i class="fab fa-youtube fa-lg"></i></a></h6>
        </div>
        <img class="img-fluid" src="{{base}}/assets/img/content/seperator.png" alt="">
        <div class="card-body">
           <p>Wir, die Partei Holistischer Demokratie freuen uns sehr, unser erstes Video präsentieren zu können.</p>
            <p>Wie ist die Partei in Recklinghausen entstanden und was sind ihre Ziele?
            Was bedeutet Holismus und wieso haben wir diesen Begriff für unseren Partei-Namen benutzt? </p>
            <p>Diese und weitere Informationen sind in dem Video zusammengefasst. In der Zukunft gibt es weitere Videos zu spezielleren Themen.
            Viel Spaß beim Anschauen und bei Fragen freuen wir uns diese beantworten zu können.</p>
            <p>Viele Grüße
            <br />PHD</p>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-8  order-first order-md-last">
      {% include feed-youtube.html video_id="103TnMt_49g" %}
    </div>
    
  </div>
</div> 