.breadcrumb-div {
    padding-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;  
    
    @media(min-width:768px) {
        padding-top: 110px;
      }   
}
.breadcrumb-nav {
    background-color: #ededed;
    padding: 5px 15px 5px 15px;
}
.breadcrumb-ol {
    font-size: .8125rem;
    font-weight: 600;
    margin-bottom: 0;  
    padding: 0;
}