
#socialFeed {
  .card {
    border: none;
    background-color: transparent;
    padding: 10px;
  }
  .card-header {
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
  }
  
  .card-body {
    padding: 15px 0 0 0;
    border: none;
    background-color: transparent;
    font-size: 9.5pt;
  }
  .btn-social-icon {
    color: #fff;
    background-color: black !important;
  }
  .btn-social-icon:hover {
    color: #fff;
    box-shadow: none;
  }
  .feed-header {
    color: $black;
  }
  .feed-header:hover {
    color: $phd-red;
  }
}