// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
  color: $black;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 8rem;    /* Footer height */
}

p {
  line-height: 1.75;
  word-wrap: break-word;
}

a {
  color: #20479a;
  word-wrap: break-word;
  &:hover {
    text-decoration: none;
  }
  img {
    color:transparent;
    box-shadow: none;
  }
}

.text-primary {
  color: $primary !important;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  @include heading-font;
}
h2 {
  font-size: 1.3rem;
  font-weight: 700;
  @include heading-font;
}
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
  font-size: 1.1rem;
}

section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
section.feed {
  padding: 50px 0;
}
.bg-blue {
  background-color: $phd-blue;
  color: white;
}
@media(min-width:768px) {
  section {
    padding: 100px 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    @include heading-font;
  }

}

// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important;
  }
}


img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
