// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@font-face {
  font-family: LemonMilk;
  src: url("/assets/fonts/LEMONMILK-Regular.woff") format("woff"), url("/assets/fonts/LEMONMILK-Regular.ttf")  format("truetype");
}
@font-face {
  font-family: LemonMilk;
  font-weight: bold;
  src: url("/assets/fonts/LEMONMILK-Bold.woff") format("woff"), url("/assets/fonts/LEMONMILK-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: LemonMilk;
  font-weight: lighter;
  src: url("/assets/fonts/LEMONMILK-Light.woff") format("woff"), url("/assets/fonts/LEMONMILK-Light.ttf")  format("truetype");
}

@font-face {
  font-family: OpenSans;
  src: url("/assets/fonts/OpenSans-Regular.ttf")  format("truetype");
}
@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url("/assets/fontsOpenSans-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: OpenSans;
  font-weight: lighter;
  src:url("/assets/fonts/OpenSans-Light.ttf")  format("truetype");
}

@mixin serif-font {
  font-family: 'LemonMilk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin script-font {
  font-family: 'LemonMilk', 'Helvetica Neue', Helvetica, Arial, cursive;
}
@mixin body-font {
  font-family: 'OpenSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin heading-font {
  font-family: 'LemonMilk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
