#panel-container {
    .top-container {
        position: relative;
        margin-top: -60px;
        z-index: 1;
        padding: 80px 20px 150px;
        background: linear-gradient(#00415a,#18479d);
        color: $white;
    }
    .top-container h2 {
        font-size: 1.5rem;
    }
    .bottom-container {
        text-align: center;
    }
    .panel-image {
        margin-top: -120px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .panel-content {
        text-align: left;
        padding-top: 25px;
        position: relative;
        z-index: 10;
    }
    .panel-content h2 {
        font-size: 1.5rem;
    }
    .panel-img {
        border-radius: 14px;
        z-index: 10;
        position: relative;
    }
    .top-line {
        height: 250px;
        background-color: #fff;
        z-index: 1;
        margin-top: -3.5vw;
        width: 100%;
        position: absolute;
    }
}
@media(min-width:992px) {
    #panel-container {
        .panel-image {
            margin-top: -150px;
            padding: 0;
        }
        .top-container {
            margin-top: -50px;
        }
        .panel-content h2 {
            font-size: 2.5rem;
        }
        .top-container h2 {
            font-size: 2.5rem;
        }
        .top-line {
            height: 250px;
            background-color: #fff;
            transform: rotate(-4deg);
            z-index: 1;
            margin-top: -3.5vw;
            margin-left: -5%;
            width: 110%;
            position: absolute;
        }
    }
}