---
layout: default
---
{% include base.html %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <img class="img-fluid" src="{{base}}/assets/img/content/header-home-bg.png" alt="">
        <div class="intro-text">
          <div class="home-heading text-uppercase">{{ site.data.home.intro.heading }}</div>
        </div>
      </div>
    </header>
    <!-- Social media feed -->
    <section class="feed bg-light" id="feed">
      {% include feed.html %}
    </section>
    <!-- Themes Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.portfolio.heading }}</h2>
            <h3 class="section-subheading">{{ site.data.home.portfolio.subheading }}</h3>
          </div>
        </div>
        <div class="row">
          {%- for project in site.projects -%}
          {% assign ws = '' %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link"  href="{{ project.url}}">
              <img class="img-fluid" src="{{base}}/assets/{{ project.thumbnail }}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>{{ project.title }}</h4>
              <p>{{ project.description }}</p>
            </div>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>
