---
layout: default
---
<div class="container">
    <div class="row">
      {%- for project in site.projects -%}
      {% assign ws = '' %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link"  href="{{ project.url}}">
          <img class="img-fluid" src="{{base}}/assets/{{ project.thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>{{ project.title }}</h4>
          <p>{{ project.description }}</p>
        </div>
      </div>
      {%- endfor -%}
    {% assign ws = '' %}
    </div>
  </div>