---
layout: default
---
<div class="container" id="news">
    {%- for project in site.projects -%}
    {% assign ws = '' %}
    <div class="row">
    <div class="col-md-12">
        <div class="news-container">
            <div class="news-title">
                <h2>{{ project.title }}</h2>
            </div>
            <div class="news-description">
                {{ project.description }}
            </div>
            <div class="news-more">
                <a href="{{ project.url }}">Mehr</a>
            </div>
        </div>  
    </div>  
    </div>
    {% endfor %}
    {% assign ws = '' %}
</div>